// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #A0C49D;
$cor-secundaria: #C4D7B2;
$cor-terciaria: #E1ECC8;
$cor-quaternaria: #F7FFE5;

//Tamanho das fontes
$tamanho-do-texto: 3rem;